.main{
    width: 90vw;
}

.main__head{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.main__head__search{
    padding: 1em;
}

.icon-search{
    position: absolute;
    transform: translateX(-100%);
}

#input__search{
    height: 2rem;
    font-size: 1.2rem;
}




.main__cards{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,12rem),1fr));
}

#input__search{
    border-radius: 10px;
    border: none;
    padding: 5px;
    outline: none;
}
.icon-search{
    fill: #251D3A;
}